# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
yarn.lock
package-lock.json
node_modules/

# Custom
**.ignoreme.*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Ruby Gems
.bundle
Gemfile
Gemfile.lock

# Log Files
*.log